<section>
  <div class="chat">
    <ul>
      <li *ngFor="let message of messageList" ngClass="{{message.parMsg.userClass}}" >
        <a class="user" href="#"><img alt="" src="{{message.parMsg.url}}" /></a>
        <div class="message">
            <div class="hider">
              <span>Click to read</span>
            </div>
            <p>
              {{message.parMsg.msg}}
            </p>
            <div style="margin:5px;">
              <span *ngFor="let label of message.details"  (click)="userMsg(label)">
                <button class="customButton">{{label.optionName}}</button>
              </span>
            </div>
        </div>
      </li>
    </ul>
  </div>
</section>

      <!-- <li class="other">
        <a class="user" href="#"><img alt="" src="https://s3.amazonaws.com/uifaces/faces/twitter/toffeenutdesign/128.jpg" /></a>
        <div class="date">
          5 minutes ago
        </div>
        <div class="message">
          <div class="hider">
            <span>Click to read</span>
          </div>
          <p>
            Modi ratione aliquid non. Et porro deserunt illum sed velit necessitatibus. Quis fuga et et fugit consequuntur. Et veritatis fugiat veniam pariatur maxime iusto aperiam.
          </p>
        </div>
      </li>
      <li class="you">
        <a class="user" href="#"><img alt="" src="https://s3.amazonaws.com/uifaces/faces/twitter/igorgarybaldi/128.jpg" /></a>
        <div class="date">
          7 minutes ago
        </div>
        <div class="message">
          <div class="hider">
            <span>Click to read</span>
          </div>
          <p>
            Provident impedit atque nemo culpa et modi molestiae. Error non dolorum voluptas non a. Molestiae et nobis nisi sed.
          </p>
        </div>
      </li>
      <li class="other">
        <a class="user" href="#"><img alt="" src="https://s3.amazonaws.com/uifaces/faces/twitter/toffeenutdesign/128.jpg" /></a>
        <div class="date">
          8 minutes ago
        </div>
        <div class="message">
          <div class="hider">
            <span>Click to read</span>
          </div>
          <p>
            Id vel ducimus perferendis fuga excepturi nulla. Dolores dolores amet et laborum facilis. Officia magni ut non autem et qui incidunt. Qui similique fugit vero porro qui cupiditate.
          </p>
        </div>
      </li>
      <li class="you">
        <a class="user" href="#"><img alt="" src="https://s3.amazonaws.com/uifaces/faces/twitter/igorgarybaldi/128.jpg" /></a>
        <div class="date">
          10 minutes ago
        </div>
        <div class="message">
          <div class="hider">
            <span>Click to read</span>
          </div>
          <p>
            Provident impedit atque nemo culpa et modi molestiae. Error non dolorum voluptas non a. Molestiae et nobis nisi sed.
          </p>
        </div>
      </li>
      <li class="you">
        <a class="user" href="#"><img alt="" src="https://s3.amazonaws.com/uifaces/faces/twitter/igorgarybaldi/128.jpg" /></a>
        <div class="date">
          10 minutes ago
        </div>
        <div class="message">
          <div class="hider">
            <span>Click to read</span>
          </div>
          <p>
            Est ut at eum sed perferendis ea hic. Tempora perspiciatis magnam aspernatur explicabo ea. Sint atque quod.
          </p>
        </div>
      </li> -->
